<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- HTML Meta Tags -->
    <title>ABOUT PAGE</title>
    <meta name="description"
        content="Sweeter Site adalah platform mikroblogging yang memberikan pengguna kemampuan untuk berbagi pemikiran, ide, dan momen dalam format singkat dan langsung. Dengan tampilan yang bersih dan fokus pada pengalaman pengguna, situs ini memungkinkan pengguna untuk terhubung dengan orang lain, mengikuti perkembangan terbaru, dan berpartisipasi dalam percakapan yang sedang tren.">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://genxyng-sweeter-site.glitch.me">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sweeter - the sweetest site">
    <meta property="og:description"
        content="Sweeter Site adalah platform mikroblogging yang memberikan pengguna kemampuan untuk berbagi pemikiran, ide, dan momen dalam format singkat dan langsung. Dengan tampilan yang bersih dan fokus pada pengalaman pengguna, situs ini memungkinkan pengguna untuk terhubung dengan orang lain, mengikuti perkembangan terbaru, dan berpartisipasi dalam percakapan yang sedang tren.">
    <meta property="og:image" content="https://cdn.glitch.global/3864f8c5-b6b2-4d20-ad39-5364ddbf3157/ogimage.jpg?v=1699917783213">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="genxyng-personal-diary.glitch.me">
    <meta property="twitter:url" content="https://genxyng-sweeter-site.glitch.me">
    <meta name="twitter:title" content="Sweeter - the sweetest site">
    <meta name="twitter:description"
        content="Sweeter Site adalah platform mikroblogging yang memberikan pengguna kemampuan untuk berbagi pemikiran, ide, dan momen dalam format singkat dan langsung. Dengan tampilan yang bersih dan fokus pada pengalaman pengguna, situs ini memungkinkan pengguna untuk terhubung dengan orang lain, mengikuti perkembangan terbaru, dan berpartisipasi dalam percakapan yang sedang tren.">
    <meta name="twitter:image" content="https://cdn.glitch.global/3864f8c5-b6b2-4d20-ad39-5364ddbf3157/ogimage.jpg?v=1699917783213">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>

<body>
    <section class="hero is-large is-info">
        <div class="hero-body">
            <p class="title">
                The secret page
            </p>
            <p class="subtitle">
                You should be loggin!
            </p>
            <p class="subtitle">
                {{ user_info.profile_name }}
            </p>
        </div>
    </section>
</body>

</html>